{% extends 'base.html' %}

{% block title %}
    Vendas
{% endblock title %}

{% block page %}
    <h3 style="margin-top: .8rem;">Vendas Registradas</h3>
    <a class="btn btn-primary m-3"
       onclick="javascript:history.back();">
        <i class="fas fa-arrow-left"></i>
        <span>Voltar</span>
    </a>
{% endblock page %}

{% block content %}
    <hr>
    <!-- Content Row -->
    {% csrf_token %}
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h4 class="m-0 font-weight-bold text-primary ">Vendas Registradas</h4>
        </div>

        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Número</th>
                        <th>Data</th>
                        <th>Cliente</th>
                        <th>Produto</th>
                        <th>Quantidade</th>
                        <th class="actions">Ações</th>
                    </tr>
                    </thead>
                    {% for Venda in venda_list %}
                        <tbody>
                        <tr>
                            <td>{{ Venda.id }}</td>
                            <td>{{ Venda.numero }}</td>
                            <td>{{ Venda.data }}</td>
                            <td>{{ Venda.quantidade }}</td>
                            <td>{{ Venda.cliente }}</td>
                            <td>{{ Venda.produto }}</td>
                            <td>{{ venda.quantidade }}</td>
                            <td class="actions">
                                <a class="btn btn-primary mr-3" href="{% url 'venda_update' Venda.id %}">
                                    <i class="fas fa-edit"></i>
                                    <span>Editar</span>
                                </a>
                                <a class="btn btn-danger mr-3"
                                   href="{% url 'venda_delete' Venda.id %}">
                                    <i class="fas fa-trash-alt"></i>
                                    <span>Excluir</span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock content %}