{% extends 'base.html' %}

{% block title %}
    Apagar Venda
{% endblock title %}

{% block page %}
    <h3 style="margin-top: .8rem;">Deletar</h3>
    <a class="btn btn-primary m-3"
       onclick="javascript:history.back();">
        <i class="fas fa-arrow-left"></i>
        <span>Voltar</span>
    </a>
{% endblock page %}

{% block content %}
    <hr>
    <!-- Content Row -->
    <div class="card border-left-primary shadow h-100 py-2">
        <div class="card-body">
            <div class="row no-gutters align-items-center">
                <form method="post" class="user">
                    {% csrf_token %}
                    <h4>Você realmente deseja excluir o venda: "{{ object.nome }}" ?</h4>
                    <input class="btn btn-danger btn-user" type="submit" value="Confirmar">
                </form>
            </div>
        </div>
    </div>

{% endblock content %}

