{% extends 'base.html' %}

{% block title %}
    Editar Informações
{% endblock title %}

{% block page %}
    <h3 style="margin-top: .8rem;"></h3>
    <a class="btn btn-primary"
       onclick="javascript:history.back();">
        <i class="fas fa-arrow-left"></i>
        <span>Voltar</span>
    </a>
{% endblock page %}

{% block content %}

    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9">
            <!-- Social registration form-->
            <div class="card my-5">
                <div class="card-body p-4 text-center">
                    <div class="h3 font-weight-light mb-3">Altere sua Senha</div>
                </div>
                <hr class="my-0">
                <div class="card-body p-4">
                    <!-- Login form-->
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <b class="text-center">
                                    {% if form.errors.items|length == 1 %}Por Favor, Corrija o Erro Abaixo.{% else %}Por
                                        Favor, Corrija os Erros Abaixo.{% endif %}
                                </b>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <!-- Form Group (current password)-->
                        <div class="form-group">
                            <label class="mb-1" for="id_old_password">Senha Atual</label>
                            <input class="form-control" name="old_password" id="id_old_password" type="password"
                                   placeholder="Digite a Senha Atual" autocomplete="current-password">
                            <div class="text-danger small">
                                {{ form.old_password.errors }}
                            </div>
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="form-group">
                            <label class="mb-1" for="id_new_password1">Nova Senha</label>
                            <input class="form-control" name="new_password1" id="id_new_password1" type="password"
                                   placeholder="Digite a Nova Senha" autocomplete="current-password">
                            <div class="text-danger small">
                                {{ form.new_password1.errors }}
                            </div>
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="form-group">
                            <label class="mb-1" for="id_new_password2">Confirmar Senha</label>
                            <input class="form-control" name="new_password2" id="id_new_password2" type="password"
                                   placeholder="Confirme a Nova Senha" autocomplete="current-password">
                            <div class="text-danger small">
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Alterar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
{% endblock content %}
