{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Update</title>

    <!-- Custom fonts for this template-->
    <link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">

</head>

<body class="bg-gradient-primary">

<div class="container">

    <div class="row justify-content-center">
        <div class="col-xl-8 col-lg-9">
            <!-- Social registration form-->
            <div class="card my-5">
                <div class="card-body p-4 text-center">
                    <div class="h3 font-weight-light mb-3">Edite suas informações</div>
                </div>
                <hr class="my-0">
                <div class="card-body p-4">
                    <!-- Login form-->
                    <form method="post">
                        {% csrf_token %}
                        {% if form.errors %}
                            <div class="alert alert-danger" role="alert">
                                <b class="text-center">
                                    {% if form.errors.items|length == 1 %}Por Favor, Corrija o Erro Abaixo.{% else %}Por
                                        Favor, Corrija os Erros Abaixo.{% endif %}
                                </b>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endif %}
                        <!-- Form Group (current password)-->
                        <div class="form-group">
                            <label class="mb-1" for="id_old_password">Senha Atual</label>
                            <input class="form-control" name="old_password" id="id_old_password" type="password"
                                   placeholder="Digite a Senha Atual" autocomplete="current-password">
                            <div class="text-danger small">
                                {{ form.old_password.errors }}
                            </div>
                        </div>
                        <!-- Form Group (new password)-->
                        <div class="form-group">
                            <label class="mb-1" for="id_new_password1">Nova Senha</label>
                            <input class="form-control" name="new_password1" id="id_new_password1" type="password"
                                   placeholder="Digite a Nova Senha" autocomplete="current-password">
                            <div class="text-danger small">
                                {{ form.new_password1.errors }}
                            </div>
                        </div>
                        <!-- Form Group (confirm password)-->
                        <div class="form-group">
                            <label class="mb-1" for="id_new_password2">Confirmar Senha</label>
                            <input class="form-control" name="new_password2" id="id_new_password2" type="password"
                                   placeholder="Confirme a Nova Senha" autocomplete="current-password">
                            <div class="text-danger small">
                                {{ form.new_password2.errors }}
                            </div>
                        </div>
                        <button class="btn btn-primary" type="submit">Alterar</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

</div>

<!-- Bootstrap core JavaScript-->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

<!-- Core plugin JavaScript-->
<script src="{% static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>

<!-- Custom scripts for all pages-->
<script src="{% static 'js/sb-admin-2.min.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"
        integrity="sha512-pHVGpX7F/27yZ0ISY+VVjyULApbDlD0/X0rgGbTqCE7WFW5MezNTWG/dnhtbBuICzsd0WQPgpE4REBLv+UqChw=="
        crossorigin="anonymous"></script>


</body>

</html>