{% extends 'baseAccounts.html' %}
{% load static %}
{% block title %}Mudar Senha{% endblock title %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
            <!-- Social forgot password form-->
            <div class="card my-5">
                <div class="card-body p-5 text-center">
                    <div class="h3 font-weight-light mb-0">Recuperar senha</div>
                </div>
                <hr class="my-0">
                <div class="card-body p-5">
                    <div class="text-center text-muted mb-4">
                        Insira seu endereço de e-mail abaixo e enviaremos um link para redefinir sua senha.
                    </div>
                    <!-- Forgot password form-->
                    <form method="post">
                        {% csrf_token %}
                        <!-- Form Group (email address)-->
                        <div class="form-group">
                            <label class="text-gray-600 small" for="id_email">Email</label>
                            <input name="email" id="id_email" class="form-control form-control-solid" type="text"
                                   placeholder=""
                                   aria-label="Email Address">
                        </div>
                        <!-- Form Group (reset password button)    -->
                        <div class="form-group mb-0">
                            <button class="btn btn-primary" type="submit">Resetar Senha</button>
                        </div>
                    </form>
                </div>
                <hr class="my-0">
                <div class="card-body px-5 py-4">
                    <div class="small text-center">
                        Já tem uma conta?
                        <a href="{% url 'login' %}">Login!</a>
                    </div>
                    <div class="small text-center">
                        Novo usuário?
                        <a href="{% url 'cadastrar_usuario' %}">Crie uma conta!</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
