{% extends 'baseAccounts.html' %}

{% block title %}

{% endblock title %}


{% block content %}
     <div class="row justify-content-center">
        <div class="col-xl-5 col-lg-6 col-md-8 col-sm-11">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="p-5">
                                {% if validlink %}
                                    <h3>Mudar senha</h3>
                                    <form method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                        <button type="submit" class="btn btn-primary btn-user btn-block">Redefinir
                                            senha
                                        </button>
                                    </form>
                                {% else %}
                                    <p>
                                        O link de redefinição de senha é inválido, possivelmente porque já foi usado.
                                        Solicite uma nova redefinição de senha.
                                    </p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#id_new_password1").addClass("form-control form-control-user").attr("placeholder", "Nova Senha");
            $("#id_new_password2").addClass("form-control form-control-user").attr("placeholder", "Confirmar Nova Senha");
            $("ul").addClass("pt-2");
            $("li").addClass("small");
            $("label").remove();
            var conteudo = $("ul");
            $("ul").insertAfter($("#id_new_password2"));
        });
    </script>

{% endblock js %}
