{% extends 'base.html' %}

{% block title %}
    Estoque
{% endblock title %}

{% block page %}
{% endblock page %}

{% block content %}
    <!-- Content Row -->
    <div class="row">
        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Estoques Gerenciados
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ list_estoque }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-sort-amount-up fa-2x text-gray-300 "></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Quantidade de Produtos
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ list_produto }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-paste fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Pending Requests Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-warning shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-warning text-uppercase mb-1">
                                Total de Vendas
                            </div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{ list_venda }}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-tasks fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-3 col-md-6 mb-4">
            <a class="btn btn-primary mr-3"
               href="{% url 'relatorio' %}">
                <i class="fa fa-download"></i>
                <span>Relatório de Vendas</span>
            </a>
        </div>
    </div>



    <!-- Content Row -->
    <!-- Bar Chart -->
    <div class="row">
        <div class="card shadow mb-4 col-md-6">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Produtos Mais Vendidos</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="vendas-chart" data-url="{% url 'vendas-chart' %}"></canvas>
                </div>
                <hr>
            </div>
        </div>

        <div class="card shadow mb-4 col-md-6">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Estoques/Quantidade de Produtos</h6>
            </div>
            <div class="card-body">
                <div class="chart-bar">
                    <canvas id="estoques-chart" data-url="{% url 'estoques-chart' %}"></canvas>
                </div>
                <hr>
            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script>
        $(function () {
            var $vendasChart = $("#vendas-chart");
            $.ajax({
                url: $vendasChart.data("url"),
                success: function (data) {

                    var ctx = $vendasChart[0].getContext("2d");

                    new Chart(ctx, {
                        type: 'bar',
                        data: {
                            labels: data.labels,
                            datasets: [{
                                label: "Total",
                                backgroundColor: "#4e73df",
                                hoverBackgroundColor: "#2e59d9",
                                borderColor: "#4e73df",
                                data: data.data
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            layout: {
                                padding: {
                                    left: 10,
                                    right: 25,
                                    top: 25,
                                    bottom: 0
                                }
                            },
                            scales: {
                                xAxes: [{
                                    time: {
                                        unit: 'month'
                                    },
                                    gridLines: {
                                        display: false,
                                        drawBorder: false
                                    },
                                    ticks: {
                                        maxTicksLimit: 6
                                    },
                                    maxBarThickness: 25,
                                }],
                                yAxes: [{
                                    ticks: {
                                        min: 0,
                                        max: 100,
                                        maxTicksLimit: 10,
                                        padding: 10,
                                    },
                                    gridLines: {
                                        color: "rgb(234, 236, 244)",
                                        zeroLineColor: "rgb(234, 236, 244)",
                                        drawBorder: false,
                                        borderDash: [2],
                                        zeroLineBorderDash: [2]
                                    }
                                }],
                            },
                            legend: {
                                display: false
                            },
                            tooltips: {
                                titleMarginBottom: 10,
                                titleFontColor: '#6e707e',
                                titleFontSize: 14,
                                backgroundColor: "rgb(255,255,255)",
                                bodyFontColor: "#858796",
                                borderColor: '#dddfeb',
                                borderWidth: 1,
                                xPadding: 15,
                                yPadding: 15,
                                displayColors: false,
                                caretPadding: 10,
                            },
                        }

                    });

                }
            });

        });

        $(function () {
            var $estoquesChart = $("#estoques-chart");
            $.ajax({
                url: $estoquesChart.data("url"),
                success: function (data) {

                    var ctx1 = $estoquesChart[0].getContext("2d");

                    new Chart(ctx1, {
                        type: 'bar',
                        data: {
                            labels: data.labels1,
                            datasets: [{
                                label: "Total",
                                backgroundColor: "#4e73df",
                                hoverBackgroundColor: "#2e59d9",
                                borderColor: "#4e73df",
                                data: data.data1
                            }]
                        },
                        options: {
                            maintainAspectRatio: false,
                            layout: {
                                padding: {
                                    left: 10,
                                    right: 25,
                                    top: 25,
                                    bottom: 0
                                }
                            },
                            scales: {
                                xAxes: [{
                                    time: {
                                        unit: 'month'
                                    },
                                    gridLines: {
                                        display: false,
                                        drawBorder: false
                                    },
                                    ticks: {
                                        maxTicksLimit: 6
                                    },
                                    maxBarThickness: 25,
                                }],
                                yAxes: [{
                                    ticks: {
                                        min: 0,
                                        max: 100,
                                        maxTicksLimit: 10,
                                        padding: 10,
                                    },
                                    gridLines: {
                                        color: "rgb(234, 236, 244)",
                                        zeroLineColor: "rgb(234, 236, 244)",
                                        drawBorder: false,
                                        borderDash: [2],
                                        zeroLineBorderDash: [2]
                                    }
                                }],
                            },
                            legend: {
                                display: false
                            },
                            tooltips: {
                                titleMarginBottom: 10,
                                titleFontColor: '#6e707e',
                                titleFontSize: 14,
                                backgroundColor: "rgb(255,255,255)",
                                bodyFontColor: "#858796",
                                borderColor: '#dddfeb',
                                borderWidth: 1,
                                xPadding: 15,
                                yPadding: 15,
                                displayColors: false,
                                caretPadding: 10,
                            },
                        }

                    });

                }
            });

        });
    </script>
{% endblock js %}
