{% extends 'base.html' %}

{% block title %}
    Deletar Produto
{% endblock title %}

{% block page %}
    <h3>Deletar</h3>
    <a class="btn btn-primary"
       onclick="javascript:history.back();">
        <i class="fas fa-arrow-left"></i>
        <span>Voltar</span>
    </a>
{% endblock page %}

{% block content %}
    <hr>
    <!-- Content Row -->
    <div class="row justify-content-center m-5">
        <div class="col-12 col-sm-6 col-md-8 d-flex align-items-sm-center flex-column">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <form method="post" class="user">
                            {% csrf_token %}
                            <h4>Você realmente deseja excluir o produto: "{{ object.nome }}" ?</h4>
                            <div class="d-flex align-items-center justify-content-center">
                                <input class="btn btn-danger" type="submit" value="Confirmar">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

