{% extends 'base.html' %}

{% block title %}
    Editar Estoque
{% endblock title %}

{% block page %}
    <h3 style="margin-top: .8rem;">Update</h3>
{% endblock page %}

{% block content %}
    <!-- Content Row -->
    <div class="row justify-content-center">
        <div class="col-lg-6">
            <div class="p-5">
                <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Editar Estoque</h1>
                </div>
                <form method="post" class="user">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-12 mb-3 mb-sm-0">
                            <input type="text" class="form-control form-control-user" name="nome"
                                   value="{{ nome }}" placeholder="Nome">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary btn-user btn-block">Editar</button>
                </form>

            </div>
        </div>
    </div>
{% endblock content %}